/*-- scss:defaults --*/

// Change the primary accent colors for each block type
$callout-color-note: #0b78de;        // Blue
$callout-color-warning: #de0b0b;  // Red
$callout-color-important: deeppink;  // Pink
$callout-color-tip: #bb0bde;         // Purple
$callout-color-caution: #f7e91e;     // Yellow